#football-squad h1 {
    text-align: center;
    margin-bottom: -50px;    
}

footer {
    margin-top: 200px;
}

/*
// THIS IS THE DRAWING OF THE FIELD USING DIVs WITH BORDERS
*/
#football-field {
    perspective: 10000px;
}

.field {
    background-image: linear-gradient(to right, #67a059, #6da85e, #73af62, #7ab767, #80bf6c, #80bf6c, #80bf6c, #80bf6c, #7ab767, #73af62, #6da85e, #67a059);   width: 600px;
    height: 800px;
    margin: 0 auto;
    padding: 5px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -20;    
    transform: perspective(50em) rotateX(50deg);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .9);
}

.border-line {
    border: 5px solid #EFF7ED;
    width: 550px;
    height: 750px;
    margin: 20px auto 0 auto;    
}

.central-circle {
    border: 5px solid #EFF7ED;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    margin: 160px auto 0 auto;    
}

.midlle-line {
    border-top: 5px solid #EFF7ED;
    margin-top: -75px;
}

.home-big-box {
    border-left: 5px solid #EFF7ED;
    border-right: 5px solid #EFF7ED;
    border-bottom: 5px solid #EFF7ED;
    width: 200px;
    height: 100px;
    margin: 0 auto;
}

.home-small-box {
    border-left: 5px solid #EFF7ED;
    border-right: 5px solid #EFF7ED;
    border-bottom: 5px solid #EFF7ED;
    width: 100px;
    height: 60px;
    margin: -100px auto 0 auto;
}

.home-half-circle {
    width: 70px;
    height: 35px; 
    margin: 35px auto 0 auto;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 5px solid #EFF7ED;
    border-top: 0;
}

.away-big-box {
    border-left: 5px solid #EFF7ED;
    border-right: 5px solid #EFF7ED;
    border-top: 5px solid #EFF7ED;
    width: 200px;
    height: 100px;
    margin: 280px auto 0 auto;
}

.away-small-box {
    border-left: 5px solid #EFF7ED;
    border-right: 5px solid #EFF7ED;
    border-top: 5px solid #EFF7ED;
    width: 100px;
    height: 60px;
    margin: -60px auto 0 auto;
}

.away-half-circle {
    width: 70px;
    height: 35px; 
    margin: -135px auto 0 auto;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 5px solid #EFF7ED;
    border-bottom: 0;
}

/* 
// These are the players styles
*/

.player-card {
    position: relative;
    z-index: 20;    
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 6px solid #EFF7ED;    
    background-color: #98C5E9;
    margin:0 5px 40px 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);    
}

.player-card img{
    display: block;
    margin: 0 auto;    
    width: 84px;
    height: 84px;
    border-radius: 42px;
    margin-top: 5px;
    overflow:hidden;
}

/* This trick is on hold */
.player-card:hover {
    animation: danceAround 3s;
    animation-iteration-count: infinite;
}


.player-card figcaption {
    margin-top: 10px;
    background-color: #00285E;
    border-radius: 50px;
    padding: 5px;
    position: relative;
    text-align: center;
    color: #fff;    
    font-size: smaller;
}

.players-left {
    margin-left: -200px;
    width: 25%;
    margin-top: 130px;
    float: left;
    display: flex;
    flex-wrap: wrap;
}

.players-right {
    margin-right: -200px;
    width: 25%;
    margin-top: 130px;
    float: right;
    display: flex;
    flex-wrap: wrap;
}

.players-right figure:nth-of-type(1) {
    position: absolute;
    top: 70px;
    left: 44.2%;
}

.players-left figure:nth-of-type(1) {
    position: absolute;
    top: 670px;
    left: 44.2%;
}

.players-left figure:nth-of-type(8) {
    position: absolute;
    top: 550px;
    left: 72%;
}

.players-left figure:nth-of-type(7) {
    position: absolute;
    top: 550px;
    left: 17.3%;
}

.players-left figure:nth-of-type(4) {
    position: absolute;
    top: 590px;
    left: 55%;
}

.players-right figure:nth-of-type(5) {
    position: absolute;
    top: 590px;
    left: 33.5%;
}

.players-left figure:nth-of-type(12) {
    position: absolute;
    top: 450px;
    left: 44.2%;
}

.players-right figure:nth-of-type(2) {
    position: absolute;
    top: 380px;
    left: 55%;
}

.players-right figure:nth-of-type(3) {
    position: absolute;
    top: 380px;
    left: 32.5%;
}

.players-right figure:nth-of-type(8) {
    position: absolute;
    top: 240px;
    left: 28.5%;
}

.players-right figure:nth-of-type(4) {
    position: absolute;
    top: 240px;
    left: 60%;
}

.players-right figure:nth-of-type(10) {
    position: absolute;
    top: 220px;
    left: 44.2%;
}

/* Flip card effect */



/*
// Animations
*/

@keyframes danceAround {
    0% { transform: translate(1px, 1px) rotateX(0deg); }
    10% { transform: translate(-1px, -2px) rotateY(-1deg); }
    20% { transform: translate(-2px, 1px) rotateX(1deg); }
    30% { transform: translate(2px, 2px) rotateY(0deg); }
    40% { transform: translate(1px, -1px) rotateX(1deg); }
    50% { transform: translate(-1px, 2px) rotateY(-1deg); }
    60% { transform: translate(-2px, 1px) rotateX(0deg); }
    70% { transform: translate(2px, 1px) rotateY(-1deg); }
    80% { transform: translate(-1px, -1px) rotateX(1deg); }
    90% { transform: translate(1px, 2px) rotateY(0deg); }
    100% { transform: translate(1px, -2px) rotateX(-1deg); }
}