main {
    padding: 10px;
}

button.menu-button, .menu li a {
    display: inline-block;;
    background-color: rgba(52, 152, 219, 1);
    text-decoration: none;
    color: #ffffff;
    padding: 15px 30px;
    margin: 3px 0;
    font-size: 1.2em;    
}   

.menu li a {
    width: 300px;
    padding: 10px 30px;
    transition: ease-in;
}

button.menu-button {
    width: 110px;
    cursor: pointer;
}

button.menu-button:hover, .menu li a:hover {
    background-color: rgba(50, 51, 52, 0.8);
    transition: all 300ms ease-in-out;
}

/* Hovering Events */

.colored-square {
    width: 15%;
    height: 50px;
}

.please-hover {
    text-align: center;
    margin-bottom: 20px;
}

/* Video Event */

#events-placeholder h2, #events-placeholder h3 {
    text-align: center;
    margin-bottom: 10px;
}

#video-box {
    max-width: 100%;    
}

#video-message {
    margin-top: -5px;
    background-color: rgba(50, 51, 52, 1);
    color: #ffffff;
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
}

/* Focus and Blur Events */

#subscription-section h2 {
    text-align: center;
    color: rgba(52, 152, 219, 1);
    margin-bottom: 20px;
    font-size: 2em;
}

#subscription-section form {    
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(52, 152, 219, .6);
    font-size: 1.3em;
    padding: 30px;
    border-radius: 10px;
    color: #ffffff;
}

#subscription-section legend {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#subscription-section label, #subscription-section input {
    display: block;
}

#subscription-section label {
    margin-bottom: 5px;
}

#subscription-section input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
}

#subscription-section input[type="submit"] {
    width: 200px;
    color: #ffffff;
    font-weight: bold;    
    margin-top: 10px;
    margin-bottom: 0;
    background-color: #2875A8;
    border: 2px solid #324B5C;
    float: right;
}

#subscription-section input[type="submit"]:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #E94432;
    border: 2px solid #ffffff;
    transition: all 300ms ease-in-out;
}

/* Focus and Blur Events */

#keyboard-section {
    text-align: center;
}

#keyboard-section h2 {
    margin-bottom: 5px;
    font-size: 1.8em;
}

#keyboard-section p {
    margin-bottom: 10px;
    font-size: 1.3em;
    font-style: italic;
}

#keyResult {
    margin-top: 50px;
    font-size: 1.3em;
}

#keyboard-section input {
    margin-top: 20px;
    width: 60px;
    border: 2px solid rgba(52, 152, 219, 1);
    border-radius: 5px;
    padding: 10px;
}

#keyLook {
    background: #333;
    text-align: center;
    color: #eee;    
    border-radius: 0.3em;
    margin: 0.2em;
    padding: 1em;
    width: 3.3em;
    height: 100%;
    box-sizing: border-box;       
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}

/*  
// MEDIUM SCREENS - MEDIA QUERY BREAK
*/
@media (min-width:600px) {
    main {
        padding: 50px 200px;
    }
}

/*  
// BIG SCREENS - MEDIA QUERY BREAK
*/
@media (min-width:1025px) {

    main {
        padding: 50px;
    }

    aside {
        position: fixed;
        top: 200px;
    }
}