h1 {
    margin-bottom: 50px;
    text-align: center;
}
#game-card {    
    background-color: rgb(21, 138, 138);
    margin: 0 auto;
    max-width: 500px;
    padding: 60px 100px;
    border-radius: 10px;
    color: #ffffff;    
}

#game-card #game-info h2 {
    text-align: center;
    font-size: 3em;
}

#game-card #game-info img {
    padding: 20px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

#game-card #game-info p {
    text-align: left;
    font-size: 1.3em;
    margin-bottom: 5px;
}
